@page "/brojac"
@rendermode InteractiveServer

<h1>Brojač klikova</h1>

<p>Broj klikova: @brojKlikova</p>

<button @onclick="PovecajBrojac">+</button>
<button @onclick="SmanjiBrojac">-</button>

@code {
    int brojKlikova = 0;

    void PovecajBrojac()
    {
        brojKlikova++;
    }

    void SmanjiBrojac()
    {
        brojKlikova--;
    }
}