@page "/zivotinje"
@rendermode InteractiveServer

<h1>Životinje</h1>

<label>
    Novo ime:
    <input @bind="novoIme" />
</label>

<button @onclick="DodajZivotinju">Dodaj</button>

<ul>
    @foreach (string zivotinja in zivotinje)
    {
        <li>@zivotinja</li>
    }
</ul>

@code {
    string novoIme = "";

    List<string> zivotinje = new()
    {
        "Luna",
        "Max",
        "Bela"
    };

    void DodajZivotinju()
    {
        if (!string.IsNullOrWhiteSpace(novoIme))
        {
            zivotinje.Add(novoIme);
            novoIme = "";
        }
    }
}